<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NhsLoginAndAppPoc</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/lib/nhsuk-frontend/dist/nhsuk-4.1.0.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
</head>
<body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a class="nhsuk-skip-link" href="#main-content">Skip to main content</a>

    @await Component.InvokeAsync("Header")
    
    <partial name="_Breadcrumb" />
    <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper" id="main-content">
            @RenderBody()
        </main>
    </div>

    @await Component.InvokeAsync("Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/lib/nhsuk-frontend/dist/nhsuk-4.1.0.min.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
